This notebook aims to discuss the upper tropospheric lihgtning NO2 lifetime in the Arctic.

We can estimate the lightning NO2 lifetime by successive orbits with the dissipated convection (no lightning):

$LNO_{2_{T1}}$ * $A_{T1}$ = $LNO_{2_{T0}}$ * $A_{T0}$ * $e^\frac{{-(T_1-T_0)}}{\tau}$

where $T_{<num>}$ is the TROPOMI overpass time,
$LNO_{2_{T<num>}}$ is the $LNO_2$ above cloud in the mask,
$A_{T<num>}$ is the area (m2) of $LNO_{2_{T<num>}}$ pixel,
and $\tau$ is the $NO_2$ lifetime.

Note that the time difference between consecutive swaths is usually 100 min, so the equation can be written as:

$\tau$ = -(100/60) / ln[($LNO_{2_{T1}}$* $A_{T1}$) / ($LNO_{2_{T0}}$ * $A_{T0}$)]

In [1]:
import pandas as pd
import proplot as pplt
import xarray as xr
import numpy as np

## Read picked cases for calculating lifetime

In [2]:
df = pd.read_csv('../data/S5P_LNO2_lifetime.csv') # generated by s5p_lnox_pe_lifetime.py

df['area_diff'] = df.groupby('case')['area'].diff()
df['lno2geo_ratio'] = df['lno2geo'].div(df.groupby('case')['lno2geo'].shift(1))
df['lno2vis_ratio'] = df['lno2vis'].div(df.groupby('case')['lno2vis'].shift(1))
df['lno2_ratio'] = df['lno2'].div(df.groupby('case')['lno2'].shift(1))

df['lno2geo_lifetime'] = -(100/60)/np.log(df['lno2geo_ratio'])
df['lno2vis_lifetime'] = -(100/60)/np.log(df['lno2vis_ratio'])
df['lno2_lifetime'] = -(100/60)/np.log(df['lno2_ratio'])
df['area_percdiff'] = df['area_diff'] / df['area'].shift()

In [3]:
df

,time,case,swath,nlightning,area,apparent_scene_pressure,no2,lno2geo,lno2vis,lno2,...,pe_lno2vis,pe_lno2,area_diff,lno2geo_ratio,lno2vis_ratio,lno2_ratio,lno2geo_lifetime,lno2vis_lifetime,lno2_lifetime,area_percdiff
0,2020-07-15T19:38,Case0,Swath14278,3,1.416108e+11,31506.906,-4.177063e+05,105508.608201,128490.442753,142606.091189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-07-15T21:19,Case0,Swath14279,0,1.479378e+11,37535.496,6.424534e+04,69147.505738,77309.461170,82848.556394,...,NaN,NaN,6.326964e+09,0.655373,0.601675,0.580961,3.944301,3.280593,3.068961,0.044679
2,2020-07-22T02:11,Case1,Swath14367,0,9.680502e+10,43455.250,-4.389593e+05,27299.799728,32443.797727,37358.057905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-07-22T03:51,Case1,Swath14368,0,6.822369e+10,45225.460,4.743790e+04,23694.758407,25500.840599,29389.155946,...,NaN,NaN,-2.858133e+10,0.867946,0.786000,0.786689,11.768125,6.921434,6.946677,-0.295246
4,2021-06-19T20:22,Case2,Swath19088,25,2.108845e+11,42680.645,9.564759e+05,130958.397247,176701.032683,177933.790249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-06-19T22:02,Case2,Swath19089,0,1.864124e+11,50821.660,1.584208e+06,105939.563549,134673.411697,134704.510933,...,NaN,NaN,-2.447204e+10,0.808956,0.762154,0.757049,7.861230,6.136327,5.988140,-0.116045
6,2021-06-25T13:23,Case3,Swath19169,0,1.152795e+11,41842.383,3.452564e+05,5805.475283,9697.212353,9810.652216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-06-25T15:02,Case3,Swath19170,0,1.065629e+11,45974.008,4.515672e+05,9122.075081,15069.293715,15071.049768,...,NaN,NaN,-8.716610e+09,1.571288,1.553982,1.536192,-3.688166,-3.780827,-3.882226,-0.075613
8,2021-07-11T10:01,Case4,Swath19394,293,1.536126e+10,31973.580,-1.439336e+05,16465.243035,20362.279808,30463.613561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-07-11T11:40,Case4,Swath19395,0,1.979227e+10,37434.350,-6.691942e+04,14002.753629,16887.126431,20983.734838,...,NaN,NaN,4.431013e+09,0.850443,0.829334,0.688813,10.288213,8.906342,4.470848,0.288454
10,2021-07-21T13:37,Case5,Swath19538,0,6.404054e+10,13000.000,-5.812323e+05,34737.655841,48240.211974,48333.371061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-07-21T15:17,Case5,Swath19539,0,6.845617e+10,44326.645,-1.860916e+05,33037.576758,39488.281652,39502.024631,...,NaN,NaN,4.415626e+09,0.951059,0.818576,0.817283,33.214639,8.325466,8.260218,0.068950
12,2021-08-02T02:59,Case6,Swath19702,0,1.294368e+11,39875.630,-5.668217e+05,7409.078118,9065.282132,10138.944627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-08-02T04:40,Case6,Swath19703,0,1.345553e+11,40052.387,-7.589282e+04,5695.377368,6541.329233,6842.860869,...,NaN,NaN,5.118542e+09,0.768703,0.721580,0.674909,6.335903,5.107593,4.238962,0.039545

In [4]:
df_cases = df[(df['nlightning']<=10)&(df['lno2vis_lifetime']>0)&(df['lno2vis_lifetime']<24)][['case','time', 'lno2geo', 'lno2vis', 'lno2', 'lno2geo_lifetime', 'lno2vis_lifetime', 'lno2_lifetime', 'area_percdiff']]

In [5]:
df_cases

,case,time,lno2geo,lno2vis,lno2,lno2geo_lifetime,lno2vis_lifetime,lno2_lifetime,area_percdiff
1,Case0,2020-07-15T21:19,69147.505738,77309.461170,82848.556394,3.944301,3.280593,3.068961,0.044679
3,Case1,2020-07-22T03:51,23694.758407,25500.840599,29389.155946,11.768125,6.921434,6.946677,-0.295246
5,Case2,2021-06-19T22:02,105939.563549,134673.411697,134704.510933,7.861230,6.136327,5.988140,-0.116045
9,Case4,2021-07-11T11:40,14002.753629,16887.126431,20983.734838,10.288213,8.906342,4.470848,0.288454
11,Case5,2021-07-21T15:17,33037.576758,39488.281652,39502.024631,33.214639,8.325466,8.260218,0.068950
13,Case6,2021-08-02T04:40,5695.377368,6541.329233,6842.860869,6.335903,5.107593,4.238962,0.039545

We will apply the lno2vis lifetime to LNO2 production efficiency estimation.

In [6]:
print('Mean lifetime: ', df_cases['lno2vis_lifetime'].mean())
print('Mean - STD: ', df_cases['lno2vis_lifetime'].mean() - df_cases['lno2vis_lifetime'].std())
print('Mean + STD: ', df_cases['lno2vis_lifetime'].mean() + df_cases['lno2vis_lifetime'].std())

Mean lifetime:  6.446292606882241
Mean - STD:  4.36212647925812
Mean + STD:  8.530458734506361